// colors

$darkblue:  hsl(238, 29%, 16%);
$softred: hsl(14, 88%, 65%);
$softviolet:  hsl(273, 75%, 66%);
$softblue: hsl(240, 73%, 65%);
$verydarkgreyblue: hsl(237, 12%, 33%);
$darkhgrey: hsl(240, 6%, 50%);
$lightgreyblue: hsl(240, 5%, 91%);

// font Sizes

$font-bd: 0.75rem; // 12px
